.shadow {
  box-shadow: 0.125em 0.125em 0.125em #aaa;
}

.absolute {
  position: absolute;
}

.lineh-1 {
  line-height: 1;
}

.mt-less {
  margin-top: -1.125em;
}

.font-smaller {
  font-size: 0.875em
}

.font-small {
  font-size: 1em
}

.font-big {
  font-size: 1.25em
}

.font-bigger {
  font-size: 1.375em
}
